apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  labels: { app: grafana }
spec:
  replicas: 1
  selector:
    matchLabels: { app: grafana }
  template:
    metadata:
      labels: { app: grafana }
    spec:
      containers:
        - name: grafana
          image: grafana/grafana:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: INFLUX_TOKEN # also referenced in influxdb-deployment.yaml
              valueFrom: { secretKeyRef: { name: monitoring-secrets, key: INFLUX_TOKEN } }
            - name: GF_SECURITY_ADMIN_USER
              valueFrom: { secretKeyRef: { name: monitoring-secrets, key: GF_SECURITY_ADMIN_USER } }
            - name: GF_SECURITY_ADMIN_USER
              valueFrom: { secretKeyRef: { name: monitoring-secrets, key: GF_SECURITY_ADMIN_PASSWORD } }
          ports:
            - containerPort: 8087
          volumeMounts:
            - name: grafana-data
              mountPath: /var/lib/grafana
            - name: grafana-provisioning
              mountPath: /etc/grafana/provisioning/datasources/datasources.yaml
              subPath: datasources.yaml
          resources:
            requests:
              memory: "256Mi"
              cpu: "200m"
            limits:
              memory: "512Mi"
              cpu: "1"
      volumes:
        - name: grafana-data
          persistentVolumeClaim:
            claimName: grafana-pvc
        - name: grafana-provisioning
          configMap:
            name: grafana-datasources
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus:9090
        isDefault: true
        editable: true
      - name: InfluxDB
        type: influxdb
        access: proxy
        url: http://influxdb:8086
        isDefault: false
        editable: true
        jsonData:
          version: Flux
          organization: Broadly
          defaultBucket: jmeter
          tlsSkipVerify: true
        secureJsonData:
          token: ${INFLUX_TOKEN}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: influxdb
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  labels: { app: grafana }
spec:
  selector:
    app: grafana
  ports:
    - name: http
      port: 8087
      targetPort: 3000
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-pvc
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 2Gi